
/**
* -----------
* Global
* -----------
*/

body {
  max-width: 960px;
  margin: auto;
  border-bottom: 5px solid #d9d9d9;
  padding-bottom: 75px;
  font-family: Helvetica, Arial, sans-serif;
  font-weight: 400;
  color: #303044;
}

p, li, td, th, textarea, caption, pre, blockquote, label, input, select, textarea {
  font-size: 1.4em;
  line-height: 1.4;
}

li {
  margin: 5px 0;
}

p {
  margin: 15px 0;
}

b, strong, optgroup {
  font-weight: 700;
}

h1 {
  margin: 25px 0;
  font-size: 4.5em;
  font-weight: 700;
}

h2 {
  margin: 25px 0;
  font-size: 3.5em;
  font-weight: 200;
}

h3 {
  margin: 25px 0;
  font-size: 2.6em;
  font-weight: 200;
}

h4 {
  margin: 20px 0;
  font-size: 1.6em;
}

h5 {
  margin: 20px 0;
  font-size: 1.6em;
}

h6 {
  margin: 15px 0;
  font-size: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Helvetica, Arial, sans-serif;
  line-height: 1;
}

a, button {
  color: #d86324;
  text-decoration: none;
}
a:hover, button:hover {
  text-decoration: underline;
}

button {
  background-color: transparent;
  color: #d86324;
}


/**
* -----------
* Layout
* -----------
*/

.container {
  margin: auto;
  padding: 0 15px;
  width: 960px;
  max-width: 100%;
}

.text-container {
  margin: auto;
  max-width: 960px;
}

.columns {
  display: flex;
}

.column {
  max-width: 100%;
}

.column + .column {
  margin-left: 40px;
}

.column--50 {
  width: 50%;
}

.column--grow {
  flex-grow: 1;
}

.column--shrink {
  flex-shrink: 1;
}

.column--580 {
  width: 580px;
}


/**
* -----------
* Objects
* -----------
*/

.list-inline {
  display: block;
  margin: 0;
  padding: 0;
}
.list-inline > * {
  display: inline-block;
  margin: 5px;
  padding: 0;
}

@media screen and (min-width: 780px) {
  .list-flex {
    display: flex;
    justify-content: space-between;
  }
}

.link-block {
  display: block;
  color: inherit;
}
.link-block:hover {
  text-decoration: none;
}

.align-left {
  text-align: left;
}

.align-center {
  text-align: center;
}

.align-right {
  text-align: right;
}

.align-justify {
  text-align: justify;
}

.align-justify.align-center {
  text-align-last: center;
}

/**
* texts & images
*/

.important {
  font-size: 2.5em;
}

.introduction {
  font-size: 1.7em;
}

.chapo {
  font-size: 1.6em;
}

.full-width {
  display: block;
  width: 100%;
  margin: 50px auto;
}


/**
* -----------
* Components
* -----------
*/


/**
* header
*/
.header {
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 35px;
  width: 960px;
  height: 350px;
  background: url("../img/header-bg.jpeg");
  background-size: cover;
  background-position: center bottom;
  overflow: hidden;
}


.header__content {
  display: block;
  margin: 0;
  position: absolute;
  padding-top: 20px;
  padding-bottom: 25px;
  bottom: 0;
  width: 100%;
  text-align: center;
  color: white;
  font-family: "Montserrat", "Avenir Next", Helvetica, Arial, sans-serif;
  text-shadow: 1px 1px 4px #000;
  background: rgba(0, 0, 0, 0.4);
}
.header__content:hover {
  text-decoration: none;
}

.header__title {
  font-size: 5.4em;
  margin: 0;
}

.header__subtitle {
  margin: 0;
  font-size: 3.2em;
  font-weight: 100;
  text-shadow: 1px 1px 5px #000;
}


.header__nav {
  background-color: rgba(0, 0, 0, 0.85);
}

.nav-main__item {
  display: inline-block;
}

.nav-main__link {
  display: block;
  padding: 10px;
  color: #fff;
}
.nav-main__link:hover {
  text-decoration: none;
  color: #d86324;
}


/**
* separator
*/
.separator {
  display: block;
  margin: 50px auto;
  width: 200px;
  height: 1px;
  border: none;
  background-color: #d9d9d9;
}


/**
* honey-pot
*/

.honey-pot-list {
  text-align: center;
}

.honey-pot {
  display: inline-block;
  margin: 0 30px 35px 30px;
  text-align: center;
}

.honey-pot__link {
  color: #303044;
}
.honey-pot__link:hover {
  color: #d86324;
}

.honey-pot__thumbnail {
  position: relative;
  display: inline-block;
  margin-bottom: 10px;
  filter: grayscale(0);
}

.honey-pot__thumbnail:hover {
  filter: grayscale(60%);
}

.honey-pot__thumbnail img {
  display: block;
}

.honey-pot__title {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
}

.honey-pot__subtitle {
  margin: 0;
  font-size: 1.6em;
  font-weight: 200;
}



/**
* news
*/

.news__link:hover {
  color: #d86324;
}

.news__link:hover .news__thumbnail {
  -webkit-filter: grayscale(60%);
  filter: grayscale(60%);
  -webkit-transition-delay: 0ms;
  -o-transition-delay: 0ms;
  transition-delay: 0ms;
}


.news__thumbnail {
  margin-bottom: 10px;
  filter: grayscale(0);
}

.news__image {
  display: block;
  width: 100%;
}

.news__date {
  margin: 0;
  font-size: 1.8em;
  color: #e8a27d;
}

.news__title {
  margin: 0 0 15px;
  font-weight: bold;
  font-size: 2em;
  line-height: 1.4;
}

.news__text {
  margin: 0;
  font-size: 1.4em;
  line-height: 1.4;
}

.page-list .news {
  margin: 0 auto 20px auto;
  border-bottom: 1px solid #b0b0c5;
  padding-bottom: 20px;
  max-width: 320px;
}

.news--main {
  padding-bottom: 35px;
  border-bottom: 1px solid #b0b0c5;
}
.news--main .news__link {
  display: flex;
  align-items: flex-start;
}
.news--main .news__thumbnail {
  margin-bottom: 0;
  margin-right: 40px;
  min-width: 360px;
}

/**
* news-list
*/
.news-list {
  display: grid;
  grid-gap: 35px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: auto;
  margin-bottom: 35px;
}

.news-list .news-list__news--main {
  grid-column: span 3;
}

.news-list__news {
  grid-column: span 1;
}


/**
* quote
*/
.quote {
  margin: 35px 0;
}


/**
* -----------
* Trumps
* -----------
*/


/**
* single
*/
.page-single {
  text-align: justify;
}

.page-single__header {
  margin-bottom: 75px;
}

.page-single__title {
  margin: 0;
  font-size: 5.6em;
  line-height: 1.4;
  font-weight: 500;
}

.page-single__subtitle {
  margin: 0;
  font-size: 3.2em;
  font-weight: 200;
}


/**
* decouvrez-notre-librairie
*/
.container.decouvrez-notre-librairie {
  text-align: center;
}

/**
* index
*/
.index-title {
  text-align: center;
  margin-bottom: 35px;
}
